
    <center>
    <div style="overflow:auto;">
      <div>
        <a href="/cgi-bin/controller.py?letter=L"><img src="/images/L.png"></a>
        <a href="/cgi-bin/controller.py?letter=E"><img src="/images/E.png"></a>
        <a href="/cgi-bin/controller.py?letter=A"><img src="/images/A.png"></a>
        <a href="/cgi-bin/controller.py?letter=R"><img src="/images/R.png"></a>
        <a href="/cgi-bin/controller.py?letter=N"><img src="/images/N.png"></a>
      </div>
    </div>
	<div>
		<a href="/cgi-bin/controller.py"><img src="/images/menu.png"></a>
    </div>
	</center>
  </body>
</html>
