
    <center>
    <div id="lcircle">
      <div id="text"><a href="/cgi-bin/controller.py?letter=L">L</a></div>
	</div>
    <div id="ecircle">
      <div id="text"><a href="/cgi-bin/controller.py?letter=E">E</a></div>
	</div>
    <div id="acircle">
      <div id="text"><a href="/cgi-bin/controller.py?letter=A">A</a></div>
    </div>
	<div id="rcircle">
      <div id="text"><a href="/cgi-bin/controller.py?letter=R">R</a></div>
	</div>
    <div id="ncircle">
      <div id="text"><a href="/cgi-bin/controller.py?letter=N">N</a></div>
    </div>
	<div id="menubox">
      <div id="text"><a href="/cgi-bin/controller.py">Menu</a></div>
    </div>
	</center>
  </body>
</html>
